<!-- <form #prdFrom="ngForm" (ngSubmit)="addproduct()" enctype="multipart/form-data" method="post">
    <div class="form-row">
        <div class="form-group col-md-10">
            <label for="PrdName">ProductName</label>
            <input type="text" class="form-control" id="PrdName" #prdName="ngModel" placeholder="ProductName" required
                minlength="4" name="productName" [(ngModel)]="product.name">
            <div class=" text text-bg-warning" [hidden]="prdName.valid || prdName.untouched">
                <small *ngIf="prdName.errors?.['required']">Name is not required</small>
                <small *ngIf="prdName.errors?.['minlength']"> Name must be 4 Characters</small>
            </div>
        </div>
        <div class="form-group col-md-10">
            <label for="Price">Product Price</label>
            <input type="number" class="form-control" id="Price" placeholder="Price" [(ngModel)]="product.price" min="0"
                #prdprice="ngModel" name="product.price" required>
            <div class="text text-bg-warning" [hidden]="prdprice.valid || prdprice.untouched">
                <small *ngIf="prdprice.errors?.['required']">price is not required</small>
                <small *ngIf="prdprice.errors?.['min']"> prices must be Number valid</small>
            </div>
        </div>
        <div class="form-group col-md-10">
            <label for="quantity">Product Quantity</label>
            <input type="number" class="form-control" id="quantity" placeholder="Quantity"
                [(ngModel)]="product.quantity" min="0" #prdprice="ngModel" name="product.quantity" required>
            <div class="text text-bg-danger" [hidden]="prdprice.valid || prdprice.untouched">
                <small *ngIf="prdprice.errors?.['required']">price is not required</small>
                <small *ngIf="prdprice.errors?.['min']"> prices must be Number valid</small>
            </div>
        </div>
    </div>
    <div class="form-group col-md-10">
        <label for="Descrption">Product Descrption</label>
        <textarea class="form-control" id="Descrption" placeholder="Descrption" [(ngModel)]="product.description"
            #prdDescr="ngModel" name="descrption"></textarea>
        <div class="text-bg-warning" [hidden]="prdDescr.valid||prdDescr.untouched" required>
            <span *ngIf="prdDescr.errors?.['required']">Descrption is not available</span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-10">
            <label for="image">Product image</label>
            <input type="file" multiple class="form-control" id="image" [(ngModel)]="product.imageFile"
                name="product.image" (change)="onfileSelected($event)">
        </div>
        <div class="form-group col-md-10">
            <label for="Brands">Product Brands</label>
            <select id="Brands" class="form-control" #prdSelectBrand="ngModel" name="product.brands"
                [(ngModel)]="product.brandID" required>
                <option *ngFor="let item of Brand" [value]="item.id">{{item.bName}}</option>
            </select>
        </div>
    </div>
    <div class="form-group col-md-10">
        <label for="Category">Product Category</label>
        <select id="Category" class="form-control" name="Category" [(ngModel)]="product.categoryId" required>
            <option *ngFor="let item of Categorie" [value]="item.id">{{item.catName}}</option>
        </select>
    </div>
    <div class="form-group col-md-10">
        <label for="Availability">Product Availability</label>
        <select id="Availability" class="form-control" name="Availability" [(ngModel)]="product.availability">
            <option [value]="true">True</option>
            <option [value]="false"> False</option>
        </select>
    </div>
    <div class="form-group col-md-10">
        <label for="discountPercentage">Product discountPercentage</label>
        <input type="number" class="form-control" id="discountPercentage" placeholder="discountPercentage"
            [(ngModel)]="product.discountPercentage" min="0" name="disc">
    </div>
    <button mat-flat-button color="primary" class="h-25" [disabled]="prdFrom.invalid" type="submit">Add</button>
    <br>
    <br>
</form> -->









































<br>
<div class="container" style="direction: rtl; font-family: Arial, Helvetica, sans-serif;">
    <form [formGroup]="FormProduct" (ngSubmit)="submitForm()" enctype="multipart/form-data">
        <div class=" form-group col-md-10">
            <label for="prdName" class="fs-3">اسم المنتج</label>
            <input class="form-control fs-3" id="prdName" type="text" placeholder="اسم المنتج" formControlName="name">
            <div class="alert alert-warning fs-3" [hidden]="name?.valid||name?.untouched">
                <small *ngIf="name?.errors?.['required']">
                    اسم المنتج مطلوب

                </small>
            </div>
        </div>
        <div class="form-group col-md-10">
            <label for="Descrption" class="fs-3 mt-2">وصف المنتج</label>
            <textarea class="form-control fs-3" id="Descrption" placeholder="وصف المنتج" formControlName="description"
                name="descrption"></textarea>
            <div class="alert alert-warning fs-3" [hidden]="description?.valid||description?.untouched">
                <small *ngIf="description?.errors?.['required']">
                    الوصف مطلوب
                </small>
            </div>
        </div>
        <div class="form-group col-md-10">
            <label for="price" class="fs-3">سعر المنتج</label>
            <input class="form-control fs-3" type="number" id="price" placeholder="سعر المنتج" formControlName="price"
                min="0">
            <div class="alert alert-warning fs-3" [hidden]="price?.valid||price?.untouched">
                <small *ngIf="price?.errors?.['required']">
                    سعر المنتج مطلوب

                </small>
            </div>
        </div>
        <div class="form-group col-md-10">
            <label for="quantiy" class="fs-3">كمية المنتج</label>
            <input class="form-control fs-3" id="quantiy" placeholder="كمية المنتج" type="number"
                formControlName="quantity" min="0">
            <div class="alert alert-warning fs-3" [hidden]="quantity?.valid||quantity?.untouched">
                <small *ngIf="quantity?.errors?.['required']">
                    كمية المنتج مطلوبة
                </small>
            </div>
        </div>
        <div class="form-group col-md-10">
            <label for="discountPercentage" class="col-md-8 fs-3">نسبة خصم المنتج</label>
            <input class="form-control fs-3" id="discountPercentage" placeholder="نسبة خصم المنتج" type="number" min="0"
                formControlName="discountPercentage">
            <!-- <div class="alert alert-warning" [hidden]="discountPercentage?.valid||discountPercentage?.untouched">
                <small *ngIf="discountPercentage?.errors?.['required']">
                    نسبة خصم المنتج غير مطلوبة  
                              </small>
            </div> -->
        </div>
        <div class="form-group col-md-10">
            <label for="image" class="fs-3">صورة المنتج</label>
            <input type="file" id="image" class="form-control fs-3" placeholder="اضافه الصوره"
                (change)="uploadFile($event)">
            <div class="alert alert-warning fs-3" [hidden]="imageFile?.valid||imageFile?.untouched">
                <small *ngIf="imageFile?.errors?.['required']">
                    صوره المنتج مطلوبة
                </small>
            </div>
        </div>
        <div class="form-group col-md-10">
            <label for="Brands" class="fs-3">ماركات المنتج</label>
            <select id="Brands" class="form-control" name="product.brands" formControlName="brandID" required>
                <option *ngFor="let item of Brand" [value]="item.id" class="fs-4">{{item.bName}}</option>
            </select>
            <div class="alert alert-warning fs-3" [hidden]="brandID?.valid||brandID?.untouched">
                <small *ngIf="brandID?.errors?.['required']">
                    من فضلك اختر العلامه التجاريه الخاصه بهذا المنتج
                </small>
            </div>
        </div>
        <div class="form-group  col-md-10">
            <label for="Category" class="fs-3">فئة المنتج</label>
            <select id="Category" class="form-control" name="Category" formControlName="categoryId" required>
                <option *ngFor="let item of Categorie" [value]="item.id" class="fs-3">{{item.catName}}</option>
            </select>
            <div class="alert alert-warning fs-3" [hidden]="categoryId?.valid||categoryId?.untouched">
                <small *ngIf="categoryId?.errors?.['required']">
                    من فضلك اختر فئه المنتج
                </small>
            </div>
        </div>
        <div class="form-group col-md-10">
            <label for="Availability" class="fs-3">المنتج متوافر</label>
            <select id="Availability" class="form-control" formControlName="availability" name="Availability">
                <option [value]="true" class="fs-3">متاح </option>
                <option [value]="false" class="fs-3"> غير متاح</option>
            </select>
            <div class="alert alert-warning fs-3" [hidden]="availability?.valid||availability?.untouched">
                <small *ngIf="availability?.errors?.['required']">
                    من فضلك حدد هل المنتج متاحه او غير متاح
                </small>
            </div>
        </div>
        <div class="form-group">
            <button mat-flat-button color="primary" [disabled]="!FormProduct.valid" class="h-25 fs-3"
                type="submit">اضافه
                المنتج </button>
        </div>
        <br>
        <br>
    </form>
</div>