<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<!-- Main Section-->
<section class="mt-0 overflow-hidden  vh-100 d-flex justify-content-center align-items-center p-4">
  <!-- Page Content Goes Here -->

  <!-- Login Form-->
  <div class="col col-md-8 col-lg-6 col-xxl-5" >
    <div class="d-flex align-items-center" style="justify-content: center;">
      <div class="f-w-6 d-flex align-items-center me-2 lh-1"style="justify-content: center;">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 194 194"><path fill="currentColor" class="svg-logo-white" d="M47.45,60l1.36,27.58,53.41-51.66,50.87,50,3.84-26L194,100.65V31.94A31.94,31.94,0,0,0,162.06,0H31.94A31.94,31.94,0,0,0,0,31.94v82.57Z"/><path fill="currentColor" class="svg-logo-dark" d="M178.8,113.19l1,34.41L116.3,85.92l-14.12,15.9L88.07,85.92,24.58,147.53l.93-34.41L0,134.86v27.2A31.94,31.94,0,0,0,31.94,194H162.06A31.94,31.94,0,0,0,194,162.06V125.83Z"/></svg> -->
          <img src="./assets/images//logos/sarty_logo_png-0١.png" class="logo" alt=""width="170" height="150">
      </div>
      <!-- <span class="fs-5">Alpine</span> -->
  </div>
    <!-- / Logo-->
    <div class="shadow-xl p-4 p-lg-5 bg-white">
      <h1 class="text-center fw-bold mb-5 fs-2">تسجيل الدخول</h1>

      <form style="direction: rtl;" [formGroup]="userRegfrm" (ngSubmit)="submit">
        <div class="form-group" style="direction: rtl;">
          <label class="form-label" for="login-email">البريد الالكترونى</label>
          <input style="direction: ltr;" formControlName="username" [class.is-valid]="username.valid"
            [class.is-invalid]="username.invalid&&username.touched" type="email" class="form-control" id="login-email"
            placeholder="name@email.com">
          </div>
          <small class="text-danger" *ngIf="username?.errors?.['required']&&username.touched">*هذا الحقل مطلوب</small>
        <label for="login-password" class="form-label d-flex justify-content-between align-items-center">
          كلمة السر
        </label>
        <div class="input-group">
          <div class="form-group"></div>
          <input formControlName="password" [class.is-valid]="password.valid" [type]="fieldTextType ? 'text' : 'password'"
            [class.is-invalid]="password.invalid&&password.touched" type="password" class="form-control"
            id="login-password" placeholder="اكتب كلمة السر">
          <div class="input-group-append">
            <span (click)="toggleFieldTextType()" class="input-group-text" style="cursor:pointer">
              <i class="bi bi-eye-slash "
                [ngClass]="{ 'bi bi-eye': !fieldTextType,'bi bi-eye-slash': fieldTextType}"></i>
            </span>
          </div>
        </div>
        <small class="text-danger" *ngIf="password?.errors?.['required']&&password.touched">*هذا الحقل مطلوب</small>
        <button [disabled]="userRegfrm.invalid" type="submit" (click)="submit()" class="btn btn-dark d-block w-100 my-4">تسجيل
          الدخول</button>
      </form>
      <p class="d-block text-center text-muted">عميل جديد؟ <a class="text-muted" [routerLink]="['/Auth/Register']" > قم بانشاء حساب
          خاص بك</a></p>
    </div>

  </div>
  <!-- / Login Form-->

  <!-- /Page Content -->
</section>
<!-- / Main Section-->
