
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Main Section-->
    <section class="mt-5 container  " style="direction:rtl" >
      <!-- Page Content Goes Here -->

      <h1 class="mb-6 display-5 fw-bold text-center" style="font-family:Cairo;font-size:40px;font-weight:700 ">العربة</h1>

      <div class="row g-4 g-md-8" style="margin-bottom:20px">
          <!-- Cart Items -->
          <div class="col-12 col-lg-6 col-xl-7">
              <div class="table-responsive">
                  <table class="table"style="font-family:Cairo;font-size:30px;font-weight:700 ">
                      <thead>
                          <tr>

                              <th colspan="2" class="ps-sm-3"style="text-align:center">التفاصيل</th>
                              <th colspan="2"style="text-align:center">الكميه</th>

                          </tr>
                      </thead>
                      <tbody>
                              <tr *ngFor="let item of showprod">
                                  <!-- image -->
                                      <td class="d-none d-sm-table-cell">
                                          <picture class="d-block bg-light p-3 f-w-20">
                                              <img class="img-fluid" src={{item.imageSrc}} alt="">
                                          </picture>
                                      </td>
                                  <!-- image -->

                                  <!-- Details -->
                                      <td>
                                          <div class="ps-sm-3">
                                              <h2 class="mb-2 fw-bolder" >
                                                {{item.name}}
                                              </h2>
                                              <!-- <small class="d-block text-muted">Mens / Blue / Medium</small> -->
                                          </div>
                                      </td>
                                  <!-- Details -->

                                  <!-- Qty -->
                                      <td>
                                          <div class="px-3">
                                              <span class="small text-muted mt-1">1 @ EGP{{item.price}} </span>
                                          </div>
                                      </td>
                                  <!-- /Qty -->

                                  <!-- Actions -->
                                      <td class="f-h-0">
                                          <div class="d-flex justify-content-between flex-column align-items-end h-100">
                                              <!-- <i class="ri-close-circle-line ri-lg"></i>
                                              <p class="fw-bolder mt-3 m-sm-0">$1129.99</p> -->
                                          </div>
                                      </td>
                                  <!-- /Actions -->

                              </tr>

                      </tbody>
                  </table>
              </div>
          </div>
          <!-- /Cart Items -->
          <div class="col-12 col-lg-6 col-xl-5">
              <div class="bg-dark p-4 p-md-5 text-white">
                  <h3 class="fs-3 fw-bold m-0 text-center" style="font-family:Cairo;font-size:40px;font-weight:700 ">ملخص الطلب</h3>
                  <div class="py-3 border-bottom-white-opacity">
                      <div class="d-flex justify-content-between align-items-center mb-2 flex-column flex-sm-row">
                          <p class="m-0 fw-bolder fs-6" style="font-family:Cairo;font-size:40px;font-weight:700 ">فاتورة</p>
                          <p class="m-0 fs-6 fw-bolder">EGP 50</p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center flex-column flex-sm-row mt-3 m-sm-0">
                          <p class="m-0 fw-bolder fs-6" style="font-family:Cairo;font-size:40px;font-weight:700 ">التوصيل</p>
                          <!-- <span class="text-white opacity-75 small">Will be set at checkout</span> -->
                      </div>
                  </div>
                  <div class="py-3 border-bottom-white-opacity" >
                      <div class="d-flex justify-content-between align-items-center flex-column flex-sm-row">
                          <div>
                              <p class="m-0 fs-5 fw-bold"style="font-family:Cairo;font-size:40px;font-weight:700 ">الفاتورة الكلية</p>
                              <!-- <span class="text-white opacity-75 small">Inc $45.89 sales tax</span> -->
                          </div>
                          <p class="mt-3 m-sm-0 fs-5 fw-bold">EGP{{sum}}</p>
                      </div>
                  </div>



                  <a  class="btn btn-orange w-100 text-center mt-3"style="font-family:Cairo;font-size:40px;font-weight:700 "
                      role="button"><i class="ri-paypal-line align-bottom"></i> اطلب الان</a>
                  <!-- Checkout Button-->
              </div>


              <!-- / Payment Icons-->            </div>
          <!-- Cart Summary -->

          <!-- /Cart Summary -->
      </div>

      <!-- /Page Content -->
  </section>
  <!-- / Main Section-->
