<!-- <br>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Name
                                </th>
                                <th>
                                    price
                                </th>
                                <th>
                                    Descrption
                                </th>
                                <th>
                                    availability
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataSource">

                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td class="text-primary">
                                        {{item.price}}
                                    </td>
                                    <td>
                                        {{item.description}}
                                    </td>
                                    <td class="text-primary">
                                        {{item.availability}}
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->
<a mat-flat-button color="primary" class="text-center" routerLink="../Creat">add</a>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="productId">
            <th mat-header-cell *matHeaderCellDef> Number </th>
            <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef> product Name </th>
            <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descrption </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>

        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="availability">
            <th mat-header-cell *matHeaderCellDef> Availability </th>
            <td mat-cell *matCellDef="let element"> {{element.availability}} </td>
        </ng-container>
        <ng-container matColumnDef="discountPercentage">
            <th mat-header-cell *matHeaderCellDef> Discount </th>
            <td mat-cell *matCellDef="let element"> {{element.discountPercentage|percent}} </td>
        </ng-container>
        <ng-container matColumnDef="brandName">
            <th mat-header-cell *matHeaderCellDef> BrandName </th>
            <td mat-cell *matCellDef="let element"> {{element.brandName}} </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <a mat-menu-item style="font-size:20px;"
                        routerLink="{{'../Details/' + element.productId}}">Detailes</a>
                    <button mat-menu-item style="font-size:20px;"
                        routerLink="{{'../Edit/'+ element.productId}}">Edit</button>
                </mat-menu>
                <button mat-flat-button (click)="Deleted_Produt(element.productId)">
                    <mat-icon style="font-size:30px;">delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="100" [pageSize]="20" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>