<div class="about" style="min-height: 90vh">
  <div class="container">
    <h2 class="special-heading">من نحن</h2>
    <p>منتجاتنا تتحدث عننا</p>
      <div class="about-content">
          <div class="image">
              <img src="./assets/images/about/about.jpg" alt="" />
          </div>
          <div class="text" style="line-height: 2;
          color: #777; direction: rtl;">
              <p >
                تسوق منتجاتنا لتجد كل مستلزمات منزلك فمنتجاتنا الاروع على الاطلاق
              </p>
              <hr />
              <p>
               كل ما يخص البيت الحديث يمكنك ان تجده هنا
              </p>
          </div>
      </div>

  </div>
</div>
