
<table class="table table-info">
    <tbody>
            <tr >
                <!-- <td>-</td> -->
                
                <td>-</td>
                 <td >{{i+1}}</td>
                <td class="d-none col-3 d-sm-table-cell">
                    <picture class="d-flex bg-light   f-w-20">
                        <img class="img-fluid" src="./assets/images/products/product-1.jpg" alt="">
                    </picture>
                </td>
    
                <td class="col-3">{{cartItems.price}}</td>
                <td class="col-2">{{cartItems.qty}}</td>
                <td>{{cartItems.price *cartItems.qty}}</td>
    
            </tr>
        </tbody>
    </table>